{% extends "base.html" %}

{% block title %}Upload Chart Image{% endblock %}

{% block content%}
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name ="file" required>
        <button type="submit">Upload</button>
    </form>

    {% if filename%}
        <div class="result_container">
            <div class="image_container">
                <h3 class = "spaced-below">Uploaded Image:</h3>
                <img class = "card" src="{{ url_for('static', filename = 'uploads/' + filename) }}" alt="uploaded image">
            </div>
    
            <div class="table_container">
                <h3 class = "spaced-below">Prediction Result: {{ result }}</h3>
    
                {% if result == 'Pie' %}
                <table class = "card">
                    <tr>
                        <th>Section</th>
                        <th>Percentage</th>
                    </tr>
                    {% for item in char_info %}
                    <tr>
                        <td>section{{ item.section }}</td>
                        <td>{{ item.percentage }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
    
                {% if result == 'Bar' %}
                <table class = "card">
                    <tr>
                        <th>Label</th>
                        <th>Color</th>
                        <th>Value</th>
                    </tr>
                    {% for item in char_info %}
                    <tr>
                        <td>{{ item.label }}</td>
                        <td>{{ item.color}}</td>
                        <td>{{ item.value}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
    
                
                {% if result == 'Line' %}
                <div class="unsupported-feature">
                    <h3>Feature in Development</h3>
                    <p>Sorry, line chart recognition is currently under development.</p>
                    <p>We are working hard to complete this feature in our next update. Thank you for your patience!</p>
                    <div class="coming-soon">
                        <span>Coming Soon</span>
                    </div>
                </div>
        </div>
        {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block footer%}
    <div class="footer-container">
        <p>&copy; 2025 Chart Insight. </p>
        <a href="https://github.com/hoangziet/ChartInsight">Github Repository</a>
    </div>
{% endblock %}